# Build artifacts
docksmith/build/
docksmith/build-tests/

# CMake outputs
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
docksmith/build/Makefile

# Compiled binaries and objects
*.exe
*.obj
*.o
*.a
*.so
*.dylib